.container input {
    width: 35%;
    clear: both;
    display:inline-block;
}

.ipbtns {
    display: inline-block;
    margin-right: 10px;
    padding:5px;
    margin-top: 10px;
}
form  { 
    display: table;      
}
p     { 
    display: table-row;  
}
label { 
    display: table-cell; 
    margin-left:20px;
}
table input { 
    display: table-cell; 
    margin-left:20px;
}
.header {
    display:inline-block;
}
.totals {
   margin:20px;
}
.totals label {
    overflow: hidden;
    padding:5px;
}
.totals label input {
    float:right;
    clear:both;
    margin-left:162px;
}
.salesItems input {
    margin:2px;
}
#qtsldl {
margin-top:5px;
}
#sellersName {
    margin-bottom:10px;
}
#item1 #totTable{
    margin-top:10px;
}
#convertForm input{
    margin: 5px;
    padding:5px;
}
#textAreaResults {
    width:250px;
}