.container input {
    width: 35%;
    clear: both;
    display:inline-block;
}

button {
    display: inline-block;
    margin-right: 10px;
    padding:5px;
}
form  { display: table;      }
p     { display: table-row;  }
label { 
    display: table-cell; 
    margin-left:20px;
}
input { 
    display: table-cell; 
    margin-left:20px;
}