.answers {
    margin: 2em 20% 2em 5%;
    padding: 2em;
    background-color: rgb(255, 252, 249);
    border-radius: 2em;
}
.answers li {
    border-radius: 2em;
    padding: 1em;
    background-color: lightblue;
}
.title {
    text-align: center;
}
#codeSnippet{
    background-color: beige;
    width:fit-content;
    border-radius: 1em;
    padding: 1em;
}
.sources {
    margin: 2em 20% 2em 5%;
    padding: 2em;
    background-color: rgb(255, 252, 249);
    border-radius: 2em;
}