.radio {
    margin: .5em;
}
#links {
    font-size: 1.5em;
}
#links span{
    opacity: 0;
}
#links li {
    margin: 1em;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdownContent {
    display: none;
    position: absolute;
    background-color: lightgrey;
    border: solid 1px black;
    width: 20em;
  }

.dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }